#!/usr/bin/env bash
{{- if (eq .chezmoi.os "linux") }}

set -eufo pipefail

{{- if (eq .chassis "laptop") }}

echo "Configuring laptop to work with lid closed"

gsettings set org.gnome.settings-daemon.plugins.power lid-close-ac-action nothing
gsettings set org.gnome.settings-daemon.plugins.power lid-close-suspend-with-external-monitor false

echo "Configuring Hotkeys"

gsettings set org.gnome.desktop.wm.keybindings activate-window-menu "['<Super>space']"
gsettings set org.gnome.settings-daemon.plugins.media-keys area-screenshot-clip "['<Primary><Shift>Print', '<Shift><Alt>dollar']"
gsettings set org.gnome.settings-daemon.plugins.media-keys window-screenshot-clip "['<Primary><Alt>Print', '<Shift><Alt>percent']"

echo "Configuring center windows on launch"
gsettings set org.gnome.mutter center-new-windows true

{{- end }}
{{- end }}
{{ "" }}
