#!/usr/bin/env bash
{{- if (eq .chezmoi.os "linux") }}

set -eufo pipefail

{{- if (eq .chassis "laptop") }}

echo "Configuring laptop to work with lid closed"

gsettings set org.gnome.settings-daemon.plugins.power lid-close-ac-action nothing
gsettings set org.gnome.settings-daemon.plugins.power lid-close-suspend-with-external-monitor false

{{- end }}
{{- end }}
{{ "" }}
