[Desktop Entry]
Version=1.0
Type=Application
Name=The GNU Image Manipulation Program
GenericName=Image Editor
Comment=Create images and edit photographs
Keywords=GIMP;graphic;design;illustration;painting;
Exec=flatpak run org.gimp.GIMP %U
Icon=gimp
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
StartupNotify=true
