[{:did 0,
  :x 2565,
  :y 40,
  :w 1260,
  :h 1350,
  :cls "slack.Slack",
  :name "Slack"}
 {:did 0,
  :x 0,
  :y 1440,
  :w 1280,
  :h 720,
  :cls "crx_kjgfgldnnfoeklkmfkjfagphfepbbdan.Google-chrome",
  :name "Google Meet"}
 {:did 0,
  :x 1280,
  :y 1420,
  :w 1280,
  :h 760,
  :cls "gnome-terminal-server.Gnome-terminal",
  :name "Terminal"}
 {:did 0,
  :x 2560,
  :y 1440,
  :w 1260,
  :h 650,
  :cls "crx_ckimpoegidoklmlkmkccfmbdmfigmgfm.Wavebox",
  :name "Wavebox Mini"}
 {:did 0,
  :x 0,
  :y 20,
  :w 2550,
  :h 1440,
  :cls "wavebox.Wavebox",
  :name " Wavebox"}]